body {
	padding: 0;
	margin: 0;
	background: linear-gradient(rgb(10,225,135), rgb(50,150,225));
	font-family: Avenir, sans-serif;
}
.main {
	text-align: center;
	color: rgb(45,45,45);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
}
#wrapper {
	width: 900px;
	margin: auto;
	padding-bottom: 45px;
}
.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid rgba(25,25,25,0.5);
	transition: opacity 250ms ease, border 200ms ease;
}
.avatar:hover {
	opacity: 0.87;
	border: 1px solid rgba(25,25,25,1);
	transition: opacity 250ms ease, border 200ms ease;
}
.name {
	font-size: 90px;
	margin: -5px 0 0 0;
}
.nameAbout {
	margin-top: -5px;
	font-size: 32px;
	max-width: 900px;
}
.thanks {
	margin-top: -20px;
	font-size: 40px;
	max-width: 900px;
}
a, a:visited {
	color: rgb(45,45,45);
}
a:hover {
	color: rgb(255, 211, 78);
}

.certificatesWrapper {
	width: 100vw;
	height: 100%;
	margin-bottom: 155px;
}

.certificatesTitle {
	font-size: 28px;
	width: 75vw;
	margin: auto;
	text-align: center;
}

.certificates {
	padding-top: 25px;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.certificateContainer {
	width: 250px;
	margin: 25px;
}
.certificateImg {
	width: 100%;
	height: 100%;
}
.certificateImg:hover {
	cursor: pointer;
}

/* Styling for portfolio flexbox */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;
}
.imageBox {  
	width: 500px;
	height: 250px;
	box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);
	margin: 25px;
	border-radius: 10px;
	overflow: hidden;
}
.overlay {  
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;
}
.overlay:hover {
	cursor: pointer;
}
.text {
	font-family: 'EB Garamond', serif;
	color: rgb(255, 211, 78);
	font-size: 40px;
	padding: 50px;
	text-align: center;
}

/* Add project images for each flexbox div */
#google {
	background: url('/assets/images/google.png');
	background-size: cover;
}
#facebook {
	background: url('/assets/images/facebook.png');
	background-size: cover;
}
#newRiver {
	background: url('/assets/images/new-river.png');
	background-size: cover;
}
#asia {
	background: url('/assets/images/asia.png');
	background-size: cover;
}
#zen {
	background: url('/assets/images/zen.png');
	background-size: cover;
}
#sejong {
	background: url('/assets/images/sejong.png');
	background-size: cover;
}
#quotes {
	background: url('/assets/images/quotes-2.png');
	background-size: cover;
}
#weather {
	background: url('/assets/images/weather-2.png');
	background-size: cover;
}
#wikipedia {
	background: url('/assets/images/wikipedia-2.png');
	background-size: cover;
}
#stocks {
	background: url('/assets/images/stocks.png');
	background-size: cover;
}
#twitch {
	background: url('/assets/images/twitch-2.png');
	background-size: cover;
}
#calculator {
	background: url('/assets/images/calculator-2.png');
	background-size: cover;
}
#pomodoro {
	background: url('/assets/images/pomodoro-2.png');
	background-size: cover;
}
#ticTacToe {
	background: url('/assets/images/tic-tac-toe-2.png');
	background-size: cover;
}
#simon {
	background: url('/assets/images/simon-2.png');
	background-size: cover;
}
#fccFrontEnd {
	background: url('/assets/images/front-end-projects.png');
	background-size: cover;
}
#algorithms {
	background: url('/assets/images/algorithms.png');
	background-size: cover;
}
#reactProjects {
	background: url('/assets/images/reactProjects.png');
	background-size: cover;
}
#codeGod {
	background: url('/assets/images/code-god.png');
	background-size: cover;
}
#spaceStation {
	background: url('/assets/images/space-station.png');
	background-size: cover;
}
#toDoApp {
	background: url('/assets/images/react-to-do-app.png');
	background-size: cover;
}
#markdown {
	background: url('/assets/images/markdown.png');
	background-size: cover;
}
#leaderboard {
	background: url('/assets/images/leaderboard.png');
	background-size: cover;
}
#recipeBox {
	background: url('/assets/images/recipe-box.png');
	background-size: cover;
}
#notesApp {
	background: url('/assets/images/notes-app.png');
	background-size: cover;
}
#conway {
	background: url('/assets/images/conway.png');
	background-size: cover;
}
#dungeon {
	background: url('/assets/images/dungeon.png');
	background-size: cover;
}
#dinoGame {
	background: url('/assets/images/dino-game.png');
	background-size: cover;
}
#reactBarChart {
	background: url('/assets/images/react-bar-chart.png');
	background-size: cover;
}
#barChart {
	background: url('/assets/images/bar-chart.png');
	background-size: cover;
}
#scatterplot {
	background: url('/assets/images/scatterplot.png');
	background-size: cover;
}
#heatMap {
	background: url('/assets/images/heat-map.png');
	background-size: cover;
}
#forceLayout {
	background: url('/assets/images/force-layout.png');
	background-size: cover;
}
#globalMap {
	background: url('/assets/images/global-map.png');
	background-size: cover;
}
#unix {
	background: url('/assets/images/unix.png');
	background-size: cover;
}
#requestHeader {
	background: url('/assets/images/request-header.png');
	background-size: cover;
}
#microUrl {
	background: url('/assets/images/micro-url.png');
	background-size: cover;
}
#imageSearch {
	background: url('/assets/images/image-search.png');
	background-size: cover;
}
#fileMeta {
	background: url('/assets/images/file-metadata.png');
	background-size: cover;
}
#blog {
	background: url('/assets/images/blog.png');
	background-size: cover;
}
#flashcards {
	background: url('/assets/images/flashcards-app.png');
	background-size: cover;
}
#votingApp {
	background: url('/assets/images/voting-app.png');
	background-size: cover;
}
#nightlifeApp {
	background: url('/assets/images/nightlife-app.png');
	background-size: cover;
}
#stocksApp {
	background: url('/assets/images/stocks-app.png');
	background-size: cover;
}
#bookClubApp {
	background: url('/assets/images/book-club-app.png');
	background-size: cover;
}
#pinterestClone {
	background: url('/assets/images/pinterest-clone.png');
	background-size: cover;
}

/* Add base opacity for each project */
#overlayGoogle {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayFacebook {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayNewRiver {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayAsia {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayZen {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlaySejong {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayQuotes {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayWeather {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayWikipedia {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayStocks {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayTwitch {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayCalculator {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayPomodoro {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayTicTacToe {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlaySimon {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayFccFrontEnd {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayAlgorithms {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayReactProjects {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayCodeGod {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlaySpaceStation {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayToDoApp {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayMarkdown {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayLeaderboard {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayNotesApp {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayRecipeBox {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayConway {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayDungeon {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayDinoGame {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayUnix {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayReactBarChart {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayBarChart {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayScatterPlot {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayHeatMap {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayForceLayout {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayGlobalMap {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayRequestHeader {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayMicroUrl {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayImageSearch {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayFileMeta {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayBlog {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayFlashcards {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayVotingApp {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayNightlifeApp {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayStocksApp {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayBookClubApp {
	opacity:0;
	transition: opacity 1250ms ease;
}
#overlayPinterestClone {
	opacity:0;
	transition: opacity 1250ms ease;
}

/* Add hover stlying for each project */
#google:hover #overlayGoogle {
	opacity:1;
	transition: opacity 1500ms ease;
}
#facebook:hover #overlayFacebook {
	opacity:1;
	transition: opacity 1500ms ease;
}
#newRiver:hover #overlayNewRiver {
	opacity:1;
	transition: opacity 1500ms ease;
}
#asia:hover #overlayAsia {
	opacity:1;
	transition: opacity 1500ms ease;
}
#zen:hover #overlayZen {
	opacity:1;
	transition: opacity 1500ms ease;
}
#sejong:hover #overlaySejong {
	opacity:1;
	transition: opacity 1500ms ease;
}
#quotes:hover #overlayQuotes {
	opacity:1;
	transition: opacity 1500ms ease;
}
#weather:hover #overlayWeather {
	opacity:1;
	transition: opacity 1500ms ease;
}
#wikipedia:hover #overlayWikipedia {
	opacity:1;
	transition: opacity 1500ms ease;
}
#stocks:hover #overlayStocks {
	opacity:1;
	transition: opacity 1500ms ease;
}
#twitch:hover #overlayTwitch {
	opacity:1;
	transition: opacity 1500ms ease;
}
#calculator:hover #overlayCalculator {
	opacity:1;
	transition: opacity 1500ms ease;
}
#pomodoro:hover #overlayPomodoro {
	opacity:1;
	transition: opacity 1500ms ease;
}
#ticTacToe:hover #overlayTicTacToe {
	opacity:1;
	transition: opacity 1500ms ease;
}
#simon:hover #overlaySimon {
	opacity:1;
	transition: opacity 1500ms ease;
}
#fccFrontEnd:hover #overlayFccFrontEnd {
	opacity:1;
	transition: opacity 1500ms ease;
}
#algorithms:hover #overlayAlgorithms {
	opacity:1;
	transition: opacity 1500ms ease;
}
#reactProjects:hover #overlayReactProjects {
	opacity:1;
	transition: opacity 1500ms ease;
}
#codeGod:hover #overlayCodeGod {
	opacity:1;
	transition: opacity 1500ms ease;
}
#spaceStation:hover #overlaySpaceStation {
	opacity:1;
	transition: opacity 1500ms ease;
}
#toDoApp:hover #overlayToDoApp {
	opacity:1;
	transition: opacity 1500ms ease;
}
#markdown:hover #overlayMarkdown {
	opacity:1;
	transition: opacity 1500ms ease;
}
#leaderboard:hover #overlayLeaderboard {
	opacity:1;
	transition: opacity 1500ms ease;
}
#notesApp:hover #overlayNotesApp {
	opacity:1;
	transition: opacity 1500ms ease;
}
#recipeBox:hover #overlayRecipeBox {
	opacity:1;
	transition: opacity 1500ms ease;
}
#conway:hover #overlayConway {
	opacity:1;
	transition: opacity 1500ms ease;
}
#dungeon:hover #overlayDungeon {
	opacity:1;
	transition: opacity 1500ms ease;
}
#dinoGame:hover #overlayDinoGame {
	opacity:1;
	transition: opacity 1500ms ease;
}
#unix:hover #overlayUnix {
	opacity:1;
	transition: opacity 1500ms ease;
}
#reactBarChart:hover #overlayReactBarChart {
	opacity:1;
	transition: opacity 1500ms ease;
}
#barChart:hover #overlayBarChart {
	opacity:1;
	transition: opacity 1500ms ease;
}
#scatterplot:hover #overlayScatterPlot {
	opacity:1;
	transition: opacity 1500ms ease;
}
#heatMap:hover #overlayHeatMap {
	opacity:1;
	transition: opacity 1500ms ease;
}
#forceLayout:hover #overlayForceLayout {
	opacity:1;
	transition: opacity 1500ms ease;
}
#globalMap:hover #overlayGlobalMap {
	opacity:1;
	transition: opacity 1500ms ease;
}
#requestHeader:hover #overlayRequestHeader {
	opacity:1;
	transition: opacity 1500ms ease;
}
#microUrl:hover #overlayMicroUrl {
	opacity:1;
	transition: opacity 1500ms ease;
}
#imageSearch:hover #overlayImageSearch {
	opacity:1;
	transition: opacity 1500ms ease;
}
#fileMeta:hover #overlayFileMeta {
	opacity:1;
	transition: opacity 1500ms ease;
}
#blog:hover #overlayBlog {
	opacity:1;
	transition: opacity 1500ms ease;
}
#flashcards:hover #overlayFlashcards {
	opacity:1;
	transition: opacity 1500ms ease;
}
#votingApp:hover #overlayVotingApp {
	opacity:1;
	transition: opacity 1500ms ease;
}
#nightlifeApp:hover #overlayNightlifeApp {
	opacity:1;
	transition: opacity 1500ms ease;
}
#stocksApp:hover #overlayStocksApp {
	opacity:1;
	transition: opacity 1500ms ease;
}
#bookClubApp:hover #overlayBookClubApp {
	opacity:1;
	transition: opacity 1500ms ease;
}
#pinterestClone:hover #overlayPinterestClone {
	opacity:1;
	transition: opacity 1500ms ease;
}

/* Styling for Contact Me div */
.contact {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
	justify-content: center;
}
.awesome {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
	justify-content: center;
}
.fa {
	margin: 20px;
	color: rgb(45,45,45);
	transition: color 350ms ease;
	font-size: 95px;
}
.fa:hover {
	color: rgb(255, 211, 78);
	transition: color 350ms ease;
}

/* Styling for scroll to top element */
.scrollTop {
	position: fixed;
	display: none;
	bottom: -2.5px;
	right: 2.5px;
}
#faTop {
	font-size: 40px;
}

/* Responsive styling */

@media screen and (max-width: 1200px) {
	.imageBox {
		width: 400px;
		height: 200px;
	}
	.text {
		font-size: 30px;
	}
	.fa {
		font-size: 90px;
	}
	#wrapper {
		width: auto;
		height: auto;
	}
	.scroll {
		display: none !important;
	}
	.name, .nameAbout {
		display: block !important;
		font-family: Avenir;
	}
	.nameAbout {
		font-size: 28px;
	}
	.thanks {
		font-size: 30px;
		font-family: Avenir;
	}
	.scrollTop {
		display: none !important;
	}
}
@media screen and (max-width: 1030px) {
	.imageBox {
		width: 350px;
		height: 175px;
	}
	.text {
		font-size: 20px;
	}
	.fa {
		font-size: 80px;
	}
	#wrapper {
		width: 500px;
	}
	.avatar {
		width: 175px;
		height: 175px;
	}
	.name {
		font-size: 80px;
	}
	.nameAbout {
		font-size: 25px;
	}
	.certificatesTitle {
		font-size: 26px;
		width: 80vw;
	}	
	.thanks {
		font-size: 28px;
	}
}
@media screen and (max-width: 775px) {
	.main {
		display: relative;
		margin-top: 50px;
	}
	.imageBox {
		width: 300px;
		height: 150px;
	}	
	#wrapper {
		padding-bottom: 150px;
	}
	.avatar {
		width: 150px;
		height: 150px;
	}
	.name {
		font-size: 60px;
		padding-bottom: 15px;
	}
	.nameAbout {
		padding: 20px;
	}
	.thanks {
		margin-top: -25px;
	}
	.certificatesWrapper {
		margin-bottom: 75px;
	}
	.certificateContainer {
		width: 215px;
		margin: 5px;
	}
	.contact {
		width: 450px;
		margin: auto;
		padding-bottom: 125px;
	}
	/* Remove hover styling for each project on mobile: */
	#overlayBlog { display: none; }
	#overlayGoogle { display: none; }
	#overlayFacebook { display: none; }
	#overlayNewRiver { display: none; }
	#overlayAsia { display: none; }
	#overlaySejong { display: none; }
	#overlayQuotes { display: none; }
	#overlayWeather { display: none; }
	#overlayWikipedia { display: none; }
	#overlayStocks { display: none; }
	#overlayTwitch { display: none; }
	#overlayCalculator { display: none; }
	#overlayPomodoro { display: none; }
	#overlayTicTacToe { display: none; }
	#overlaySimon { display: none; }
	#overlayFccFrontEnd { display: none; }
	#overlayAlgorithms { display: none; }
	#overlayReactProjects { display: none; }
	#overlayCodeGod { display: none; }
	#overlaySpaceStation { display: none; }
	#overlayToDoApp { display: none; }
	#overlayMarkdown { display: none; }
	#overlayLeaderboard { display: none; }
	#overlayNotesApp { display: none; }
	#overlayRecipeBox { display: none; }
	#overlayConway { display: none; }
	#overlayDungeon { display: none; }
	#overlayUnix { display: none; }
	#overlayReactBarChart { display: none; }
	#overlayBarChart { display: none; }
	#overlayScatterPlot { display: none; }
	#overlayHeatMap { display: none; }
	#overlayForceLayout { display: none; }
	#overlayGlobalMap { display: none; }
	#overlayRequestHeader { display: none; }
	#overlayMicroUrl { display: none; }
	#overlayImageSearch { display: none; }
	#overlayFileMeta { display: none; }
	#overlayBlog { display: none; }
	#overlayFlashcards { display: none; }
	#overlayVotingApp { display: none; }
	#overlayNightlifeApp { display: none; }
	#overlayStocksApp { display: none; }
	#overlayBookClubApp { display: none; }
	#overlayPinterestClone { display: none; }
	.text {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.imageBox {
		width: 300px;
		height: 150px;
	}	
	#wrapper {
		padding-bottom: 125px;
	}
	.name {
		font-size: 60px;
		margin-top: 15px;
		margin-bottom: -35px;
	}
	.nameAbout {
		font-size: 20px;
	}
	.certificatesWrapper {
		margin-bottom: 55px;
	}
	.certificatesTitle {
		font-size: 20px;
		width: 90vw;
	}	
	.thanks {
		font-size: 26px;
	}
	.contact {
		width: 350px;
		margin: auto;
	}
	.fa {
		font-size: 75px;
	}
	.fa:hover {
		color: rgb(45,45,45);
	}
}
@media screen and (max-width: 400px) {
	.imageBox {
		width: 300px;
		height: 150px;
	}	
	#wrapper {
		padding-bottom: 125px;
	}
	.name {
		font-size: 50px;
		margin-top: 15px;
		margin-bottom: -35px;
	}
	.nameAbout {
		font-size: 18px;
	}
	.certificatesTitle {
		font-size: 18px;
	}	
	.thanks {
		font-size: 26px;
	}
	.contact {
		width: 300px;
		margin: auto;
	}
	.fa {
		font-size: 55px;
	}
}
