body {
	padding: 0;
	background: rgb(255, 227, 157);
	background: linear-gradient(rgb(10,225,135), rgb(50,150,225));
	font-family: Avenir;
}
.main {
	text-align: center;
	font-family: Avenir;
	color: rgb(45,45,45);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
#wrapper {
	width: 650px;
	height: 275px;
	margin-bottom: 150px;
}
.name {
	margin-top: auto;
	font-size: 90px;
}
.nameAbout {
	margin-top: -60px;
	font-size: 25px;
	max-width: 650px;
}
.scroll {
	/*display: none;*/
	opacity: 0;
	z-index: 5;
	font-size: 55px;
	margin-top: -185px;
}
a, a:visited {
	color: rgb(45,45,45);
}
a:hover {
	color: rgb(255, 211, 78);
}

/* Styling for portfolio flexbox */

.container {
  	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.imageBox {  
	width: 500px;
	height: 250px;
	box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);
	margin: 25px;
	border-radius: 10px;
	overflow: hidden;
}
.overlay {  
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity:0;
	-webkit-transition: opacity .6s ease;
	-moz-transition: opacity .6s ease;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.overlay:hover {
	cursor: pointer;
}
#text {
	font-family: Avenir;
	color: rgb(255, 211, 78);
	font-size: 35px;
	padding: 50px;
	text-align: center;
}

/* Add project images for each flexbox div */

#google {
	background: url('/assets/images/google.png');
	background-size: cover;
}
#facebook {
	background: url('/assets/images/facebook.png');
	background-size: cover;
}
#newRiver {
	background: url('/assets/images/new_river.png');
	background-size: cover;
}
#asia {
	background: url('/assets/images/asia.png');
	background-size: cover;
}
#sejong {
	background: url('/assets/images/sejong.png');
	background-size: cover;
}
#quotes {
	background: url('/assets/images/quotes.png');
	background-size: cover;
}
#weather {
	background: url('/assets/images/weather.png');
	background-size: cover;
}
#wikipedia {
	background: url('/assets/images/wikipedia.png');
	background-size: cover;
}
#stocks {
	background: url('/assets/images/stocks.png');
	background-size: cover;
}
#twitch {
	background: url('/assets/images/twitch.png');
	background-size: cover;
}
#calculator {
	background: url('/assets/images/calculator.png');
	background-size: cover;
}
#pomodoro {
	background: url('/assets/images/pomodoro.png');
	background-size: cover;
}
#ticTacToe {
	background: url('/assets/images/ticTacToe.png');
	background-size: cover;
}
#simon {
	background: url('/assets/images/simon.png');
	background-size: cover;
}
#unix {
	background: url('/assets/images/unix.png');
	background-size: cover;
}
#microUrl {
	background: url('/assets/images/micro_url.png');
	background-size: cover;
}

/* Add hover stlying for each project */

#google:hover #overlayGoogle {
	opacity:1;
}
#facebook:hover #overlayFacebook {
	opacity:1;
}
#newRiver:hover #overlayNewRiver {
	opacity:1;
}
#asia:hover #overlayAsia {
	opacity:1;
}
#sejong:hover #overlaySejong {
	opacity:1;
}
#quotes:hover #overlayQuotes {
	opacity:1;
}
#weather:hover #overlayWeather {
	opacity:1;
}
#wikipedia:hover #overlayWikipedia {
	opacity:1;
}
#stocks:hover #overlayStocks {
	opacity:1;
}
#twitch:hover #overlayTwitch {
	opacity:1;
}
#calculator:hover #overlayCalculator {
	opacity:1;
}
#pomodoro:hover #overlayPomodoro {
	opacity:1;
}
#ticTacToe:hover #overlayTicTacToe {
	opacity:1;
}
#simon:hover #overlaySimon {
	opacity:1;
}
#unix:hover #overlayUnix {
	opacity:1;
}
#microUrl:hover #overlayMicroUrl {
	opacity:1;
}
/* Styling for Contact Me div */

.contact {
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.awesome {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-wrap: wrap;

}
.fa {
	padding: 20px;
	color: rgb(45,45,45);
}
.fa:hover {
	color: rgb(255, 211, 78);
}

/* Styling for scroll to top element */

.scrollTop {
	position: fixed;
	display: none;
	bottom: -2.5px;
	right: 2.5px;
}
#faTop {
	font-size: 40px;
}

/* Responsive styling */

@media screen and (max-width: 1200px) {
	.imageBox {
		width: 400px;
		height: 200px;
	}
	#text {
		font-size: 30px;
	}
	.fa {
		font-size: 100px;
	}
	#wrapper {
		width: auto;
		height: auto;
	}
	.scroll {
		display: none !important;
	}
	.name, .nameAbout {
		display: block !important;
	}
}
@media screen and (max-width: 1000px) {
	.imageBox {
		width: 350px;
		height: 175px;
	}
	#text {
		font-size: 20px;
	}
	.fa {
		font-size: 80px;
	}
	#wrapper {
		width: 500px;
	}
	.name {
		font-size: 80px;
	}
	.nameAbout {
		font-size: 20px;
	}
}
@media screen and (max-width: 750px) {
	.name {
		font-size: 60px;
		padding-bottom: 15px;
	}
	.nameAbout {
		padding: 20px;
	}
@media screen and (max-width: 500px) {
	.imageBox {
		width: 300px;
		height: 150px;
	}	
	#text {
		font-size: 20px;
	}
	.fa {
		font-size: 75px;
	}
	.scrollTop {
		display: none !important;
	}
}