/* Page Styling /////////////////////////////////////////// */
body {
  background: linear-gradient(rgb(10,225,135), rgb(50,150,225));
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}
#clock_div {
  position: absolute;
  right: 10%;
  top: 40%;
}
#clock {
  color: rgb(45,45,45);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.content {
  position: relative;
  margin-top: 7.5%;
  text-align: center;
}
div {
  text-align: center;
  color: white;
}
#title {
  font-size: 50px;
}
#sub_title {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
h1 {
  color: rgb(255,75,75);
}
h2 {
  margin-top: -15px;
  color: rgb(10,10,10);
}
a#build:hover {
  color: white;
}
#paragraph {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
p {
  font-size: 20px;
  color: rgb(10,10,10);
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: underline;
  color: rgb(255,75,75);
}
a#resume {
  font-size: 20px;
}
#resume:hover {
  color: white;
}

/* Contact Me Styling //////////////////////////////////// */

#contact {
  margin-top: 50px;
}
.fa {
  padding: 15px;
}
h3 a i {
  color: white;
}
.fa-envelope-o:hover {
  color: rgb(255,75,75);
}
.fa-github-alt:hover {
  color: rgb(255,75,75);
}
.fa-codepen:hover {
  color: rgb(255,75,75);
}

/* Positioning of All Elements at Page Load ////////////// */

#sub_title {
  margin-top: -70px;
}
#work {
  margin-top: -50px;
}
#paragraph {
  margin-top: -40px;
}
#cv {
  margin-top: -30px;
}
#contact {
  margin-top: -40px;
}

/* Image Layer Styling ///////////////////////////////// */

.image_layer {
  height: 100%;
  width: 100%;
}
img {
  position: absolute;
}
#img_1 {
  left: 0;
  top: 0;
  width: 100%;  
  height: 100%;
  z-index: 1;
}
#img_2 {
  left: -50px;
  bottom: 0;
  max-width: 800px;
  z-index: 2;
}
#img_2:hover {
  grow: 50px;
}
#img_3 {
  right: 0;
  top: 0;
  max-height: 250px;
  z-index: 3;
}
#img_4 {
  right: 0;
  bottom: 0;
  max-height: 960px;
  z-index: 4;
}
#enter {
  position: relative;
  margin: auto;
  top: -215px;
  width: 150px;
  height: 150px;
  color: rgb(255,75,75);
  border-radius: 50%;
  background: rgba(50,50,50,.5);
  z-index: 5;
  font-size: 26px;
  font-weight: bold;
  border: 15px solid rgba(65,65,65,.25);
  font-family: Avenir;
  transition-duration: .1s;
}
#enter:hover {
  cursor: pointer;
  background: rgba(50,150,255,.5);
  color: rgb(10,255,135);
  text-decoration: underline;
  transition-duration: .05s;
}
#img:focus {
  outline: none;
}
#enter:focus {
  outline: none;
}


