/* Page Styling /////////////////////////////////////////// */

html {
  background: rgb(25,25,25);
}
body {
  font-family: Avenir;
}
#clock_div {
  position: absolute;
  right: 10%;
  top: 40%;

}
#clock {
  color: rgb(145,145,145);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.content {
  margin-top: 80px;
}
div {
  text-align: center;
  color: white;
}
#title {
  font-size: 50px;
}
#sub_title {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}
h1 {
  color: rgb(250,50,50);

}
h2 {
  margin-top: -15px;
  color: rgb(31, 170, 91);
}
a#build:hover {
  color: white;
}
#paragraph {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}
p {
  font-size: 18px;
  color: rgb(31, 170, 91);
}
a {
  text-decoration: underline;
  color: rgb(250,50,50);
}
a#resume {
  font-size: 20px;
}
#resume:hover {
  color: white;
}

/* Contact Me Styling //////////////////////////////////// */

#contact {
  margin-top: 50px;
}
.fa {
  padding: 15px;
}
h3 a i {
  color: white;
}
.fa-envelope-o:hover {
  color: rgb(252, 9, 83);
}
.fa-github-alt:hover {
  color: rgb(255, 229, 0);
}
.fa-codepen:hover {
  color: rgb(52, 113, 255);
}

/* Positioning of All Elements at Page Load ////////////// */

#sub_title {
  margin-top: -70px;
}
#work {
  margin-top: -50px;
}
#paragraph {
  margin-top: -40px;
}
#cv {
  margin-top: -30px;
}
#contact {
  margin-top: -40px;
}

/* Image Layer Styling ///////////////////////////////// */

.image_layer {
  height: 100%;
  width: 100%;
}
img {
  position: absolute;
}
#img_1 {
  left: 0;
  top: 0;
  width: 100%;  
  height: 100%;
  z-index: 1;
}
#img_2 {
  left: -50px;
  bottom: 0;
  max-width: 800px;
  z-index: 2;
}
#img_2:hover {
  grow: 50px;
}
#img_3 {
  right: 0;
  top: 0;
  max-height: 250px;
  z-index: 3;  
}
#img_4 {
  right: 0;
  bottom: 0;
  max-height: 960px;
  z-index: 4;
}
#enter {
  position: absolute;
  left: 45%;
  top: 15%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgb(255, 61, 0);
  z-index: 5;
  font-size: 26px;
  font-weight: bold;
  border: 4px solid rgb(35,35,35);
  font-family: Avenir;
  transition-duration: .35s;
}
#enter:hover {
  cursor: pointer;
  background: rgb(35,35,35);
  color: rgb(255, 61, 0);
  text-decoration: underline;
  transition-duration: .5s;
}
#img:focus {
  outline: none;
}

#enter:focus {
  outline: none;
}






