body {
  background: url('http://i1361.photobucket.com/albums/r662/bonham000/Stock%20Data%20API/abstraction_modulations_gradients_color_47135_3840x2160_zps1dkoaqbc.jpg');
  background-size: cover;
  margin: 0;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: 'Fenix', serif;
}
.header {
  position: fixed;
  top: 0;
  padding-top: 0;
  font-size: 15px;
  height: 27px;
  width: 100%;
  background: rgba(15,15,15,.7);
  color: white;
  padding-top: 3px;
  font-family: 'Cormorant Garamond', serif;
}
.credit {
  text-align: left;
  margin-top: 3px;
  margin-left: 5px;
}
.signature {
  text-align: right;
  margin-top: -35px;
  margin-right: 5px;
}
a,
.header a,
.header a:visited {
  color: rgb(255, 116, 57);
}
a.finviz {
  color: rgb(0, 235, 125);
}
h2 {
  color: black;
  margin: -15px auto 10px auto;
}
form {
  color: black;
  font-size: 30px;
}
#ticker {
  height: 30px;
  border-radius: 5px;
  border: 1.5px solid rgba(15,15,15,.7);
  padding: 5px 5px 5px 7.5px;
  font-size: 20px;
}
#ticker:active,
#ticker:focus {
  outline: none;
}
button {
  outline: none;
  height: 40px;
  border-radius: 5px;
  background: rgba(255,255,255,.75);
  border: 1.5px solid rgba(15,15,15,.7);
  cursor: pointer;
  font-size: 20px;
}
.box {
  margin-top: 15px;
}
button:hover {
  background: rgba(15,15,15,.7);
  color: white;
}
#search:hover {
  background: rgba(0, 160, 87, .85);
  color: white;
}
#reset:hover {
  background: rgba(189, 17, 44, .7);
  color: white;
}
#random:hover {
  background: rgba(9, 91, 149, .8);
  color: white;
}
.formField {
  margin-top: 55px;
  margin-bottom: 0px;
}
p.suggestion {
  font-size: 20px;
  margin: -15px auto 15px auto;
}
.information {
  background: rgba(15,15,15,.6);
  margin: 20px auto;
  padding: 25px;
  margin-bottom: 15px;
  width: 90%;
}
.company {
  text-align: left;
  margin: 0 auto 0 25%;
  color: rgb(255, 116, 50);
}
.data {
  text-align: left;
  margin: 10px auto auto 25%;
  font-size: 20px;
}
.date {
  color: rgb(215,215,215);
}
.italics {
  font-style: italic;
  font-family: Avenir;
  text-decoration: underline;
  font-size: 20px;
}
.numbers {
  font-size: 15px;
  font-family: Avenir;
  color: white;
}





