body {
	padding: 0;
	margin: 0;
  background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
	background: white;
	font-family: garamond;
  font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.navControl {
	display: none;
}
.navigationBar {
	width: 100%;
	height: 50px;
	background: rgba(15,15,15,0.90);
	border-bottom: 1px solid rgba(30,30,30,0.75);
	position: fixed;
	top: 0;
	z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;
}
.navControlBar {
	width: 100%;
	text-align: center;
	height: 50px;
	background: rgba(15,15,15,0.90);
	border-bottom: 1px solid rgba(30,30,30,0.75);
	position: fixed;
	top: 0;
	z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;	
}
.navLink {
	font-size: 26px;
	margin: auto 15px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	transition: color 50ms ease;
}

.navLink:hover {
	cursor: pointer;
	color: rgb(40,200,255);
	transition: color 50ms ease;
}
.active {
	color: rgb(40,200,255);
}

.main {
  margin-top: 50px;
	text-align: center;
	color: rgb(45,45,45);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;	
	width: 100%;
	min-height: calc(100vh - 50px);
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid rgba(25,25,25,0.5);
}
.name {
	font-size: 90px;
	margin: -5px 0 0 0;
	font-family: 'Montserrat', sans-serif;
}
.nameAbout {
	margin: 12px auto;
	font-size: 32px;
	max-width: 800px;
	line-height: 33px;
  font-weight: bold;
}
.nameSub {
  margin: 12px auto;
  font-size: 25px;
  max-width: 825px;
  line-height: 30px;
}
#projectsArrow {
  position: relative;
  top: 0;
  margin: 5px auto 0 auto;
}

.arrow {
  margin-top: 0;
  margin-bottom: 0;
}

.fa-arrow {
  font-size: 85px;
  color: rgb(45,45,45);
  transition: color 450ms ease;
}

.fa-arrow:hover {
  cursor: pointer;
  color: rgb(40,200,255);
  transition: color 450ms ease;
}

@-webkit-keyframes slider {
  0%: { top: 0px; color: black; }
  100% { top: 25px; color: rgb(40,200,255); }
}
@-moz-keyframes slider {
  0%: { top: 0px; color: black; }
  100% { top: 25px; color: rgb(40,200,255); }
}
@-o-keyframes slider {
  0%: { top: 0px; color: black; }
  100% { top: 25px; color: rgb(40,200,255); }
}
@keyframes slider {
  0%: { top: 0px; color: black; }
  100% { top: 25px; color: rgb(40,200,255); }
}

#projectsArrow {
  -webkit-animation: slider 1.5s infinite; /* Safari 4+ */
  -moz-animation:    slider 1.5s infinite; /* Fx 1+ */
  -o-animation:      slider 1.5s infinite; /* Opera 12+ */
  animation:         slider 1.5s infinite; /* IE 10+, Fx 29+ */
}

.certificatesWrapper {
	width: 100%;
	height: 100%;
	margin-bottom: 155px;
}

.certificatesTitle {
	font-size: 28px;
	max-width: 850px;
	margin: auto;
	text-align: center;
	line-height: 33px;
}

.certificates {
	padding-top: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
  -webkit-justify-content: center;
	justify-content: center;	
}
.certificateContainer {
	width: 250px;
	margin: 25px;
}
.certificateImg {
	width: 100%;
	height: 100%;
}
.certificateImg:hover {
	cursor: pointer;
}

.sortContainer {
	width: 550px;
	margin: auto;
	text-align: center;
	margin-bottom: 125px;
}

.portfolioTitle {
	font-size: 55px;
	margin-bottom: 12px;
	font-family: 'Montserrat', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
	font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(15,15,15,0.90);
  transition: background-color 250ms ease;
  background-position: center right;
  background-size: 32px;
  background-position: 11px 6px;
  background-repeat: no-repeat;
  border: 1px solid rgb(20,20,20);
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: white;
  height: 45px;
	width: 350px;
  font-size: 22px;
  margin: auto;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select:hover {
	cursor: pointer;
  background-color: rgb(40,200,255);
  color: black;
	transition: background-color color 250ms ease;
}
select:focus {
	outline: none;
}

/* Styling for portfolio flexbox */
.projectAnimationWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;
}
.imageBox {  
	width: 500px;
	height: 250px;
	box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);
	margin: 25px;
	border-radius: 10px;
	overflow: hidden;
}
.overlay {  
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;	
  -webkit-justify-content: center;
	justify-content: center;
}
.overlay:hover {
	cursor: pointer;
}
.text {
	font-family: 'EB Garamond', serif;
	color: rgb(40,200,255);
	font-size: 40px;
	padding: 50px;
	text-align: center;
}

/* Styling for Contact Me div */
.contact {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
	justify-content: center;
}
.awesome {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
	justify-content: center;
}
.fa-contact {
	margin: 20px;
	color: rgb(45,45,45);
	transition: color 250ms ease;
	font-size: 95px;
}
.fa-contact:hover {
	color: rgb(40,200,255);
	transition: color 250ms ease;
}

/* Project Animations */

.projectAnimation-enter {
  opacity: 0.01;
}

.projectAnimation-enter.projectAnimation-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.projectAnimation-leave {
  opacity: 1;
}

.projectAnimation-leave.projectAnimation-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}