/* Remove hover styling for each project on mobile: */
@media screen and (max-width: 775px) {
	#overlaygoogle { display: none; }
	#overlayfacebook { display: none; }
	#overlaynewRiver { display: none; }
	#overlayasia { display: none; }
	#overlaysejong { display: none; }
	#overlayquotes { display: none; }
	#overlayweather_1 { display: none; }
	#overlaywikipedia_1 { display: none; }
	#overlaystocks_1 { display: none; }
	#overlaytwitch_1 { display: none; }
	#overlaycalculator_1 { display: none; }
	#overlaypomodoro_1 { display: none; }
	#overlayticTacToe_1 { display: none; }
	#overlaysimon_1 { display: none; }
	#overlayweather_2 { display: none; }
	#overlaywikipedia_2 { display: none; }
	#overlaytwitch_2 { display: none; }
	#overlaycalculator_2 { display: none; }
	#overlaypomodoro_2 { display: none; }
	#overlayticTacToe_2 { display: none; }
	#overlaysimon_2 { display: none; }
	#overlayfccFrontEnd { display: none; }
	#overlayalgorithms { display: none; }
	#overlayreactProjects { display: none; }
	#overlaycodeGod { display: none; }
	#overlayspaceStation { display: none; }
	#overlaytoDoApp { display: none; }
	#overlaymarkdown { display: none; }
	#overlayleaderboard { display: none; }
	#overlaynotesApp { display: none; }
	#overlayrecipeBox { display: none; }
	#overlayconway { display: none; }
	#overlaydungeon { display: none; }
	#overlayunix { display: none; }
	#overlayreactBarChart { display: none; }
	#overlaybarChart { display: none; }
	#overlayscatterPlot { display: none; }
	#overlayheatMap { display: none; }
	#overlayforceLayout { display: none; }
	#overlayglobalMap { display: none; }
	#overlayrequestHeader { display: none; }
	#overlaymicroUrl { display: none; }
	#overlayimageSearch { display: none; }
	#overlayfileMeta { display: none; }
	#overlayblog { display: none; }
	#overlayflashcards { display: none; }
	#overlayvotingApp { display: none; }
	#overlaynightlifeApp { display: none; }
	#overlaystocksApp { display: none; }
	#overlaybookClubApp { display: none; }
	#overlaypinterestClone { display: none; }
	#overlayquizApp { display: none; }
	#overlayrealTimeSearch { display: none; }
	#overlayrave{ display: none; }
	#overlaymultiSearch { display: none; }
	#overlaygiphy { display: none; }
	#overlayhighchartsReact { display: none; }
	#overlayreactMovement{ display: none; }
	#overlayformService { display: none; }
	#overlaytimestampedNotes { display: none; }
	#overlaycssTransitions { display: none; }
	#overlayticketz { display: none; }
	#overlaytestModule { display: none; }
	#overlayCCAW { display: none; }
	#overlayFCCAN { display: none; }
}
