/* Responsive styling */
@media screen and (max-width: 1200px) {
	.imageBox {
		width: 400px;
		height: 200px;
	}
	.text {
		font-size: 38px;
	}
	.fa {
		font-size: 90px;
	}
	#wrapper {
		width: 100%;
		height: auto;
	}
	.scroll {
		display: none !important;
	}
	.name, .nameAbout {
		display: block !important;
	}
	.nameAbout {
		font-size: 28px;
	}
	.thanks {
		font-size: 30px;
		font-family: Avenir;
	}
}
@media screen and (max-width: 1030px) {
	.imageBox {
		width: 350px;
		height: 175px;
	}
	.text {
		font-size: 32px;
	}
	.fa {
		font-size: 80px;
	}
	#wrapper {
		width: 500px;
	}
	.avatar {
		width: 175px;
		height: 175px;
	}
	.name {
		font-size: 80px;
	}
	.nameAbout {
		font-size: 25px;
	}
	.certificatesTitle {
		font-size: 26px;
		width: 80vw;
	}	
	.thanks {
		font-size: 28px;
	}
}
@media screen and (max-width: 775px) {
	body {
		padding-top: 20px;
	}
	.sortContainer {
		width: 100%;
		margin-bottom: 85px;
	}
	.portfolioTitle {
		font-size: 40px;
		margin-bottom: 12px;
	}
	.filteredTitle {
		font-size: 26px;
	}
	.navLink {
		font-size: 22px;
		margin: auto 10px;
	}
	.navControlLink {
		font-size: 28px;
	}
	.main {
		display: relative;
		margin-top: 50px;
	}
	#navBars {
		margin: 0;
		padding-right: 5px;
		font-size: 24px;
	}
	.imageBox {
		width: 300px;
		height: 150px;
	}
	.text {
		font-size: 26px;
	}
	#wrapper {
		padding-bottom: 150px;
	}
	.avatar {
		width: 150px;
		height: 150px;
	}
	.name {
		font-size: 60px;
		padding-bottom: 15px;
	}
	.nameAbout {
		padding: 20px;
		line-height: 26px;
	}
	.thanks {
		margin-top: -25px;
	}
	.certificatesWrapper {
		margin-bottom: 75px;
	}
	.certificateContainer {
		width: 215px;
		margin: 5px;
	}
	.certificatesTitle {
		font-size: 22px;
		line-height: 26px;
	}
	.contact {
		width: 450px;
		margin: auto;
		padding-bottom: 125px;
	}
	.text { display: none; }
}
@media screen and (max-width: 500px) {
	.sortContainer {
		margin: auto;
	}
	.portfolioTitle {
		font-size: 35px;
		margin-bottom: 12px;
	}
	.filteredTitle {
		font-size: 20px;
	}
	select {
		width: 275px;
		margin: auto;
		font-size: 22px;
		padding-top: 7px;
		padding-left: 45px;
		background-size: 28px;
		background-position: 11px 7px;
	}
	.navControl {
		display: block;
		position: absolute;
		top: 2px;
		right: 10px;
	}
	#closeNav {
		margin: 0;
		font-size: 35px;
	}
	.navLink {
		font-size: 36px;
	}
	.navigationBar {
		height: auto;
	  flex-direction: column;
	  -webkit-flex-direction: column;
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.navLink {
		margin: 8px auto;
	}
	.navLink:hover {
		color: white;
	}
	.navControlLink {
		font-size: 26px;
		color: white;
	}
	#closeNav:hover {
		color: white;
	}
	#navBars:hover {
		color: white;
	}
	.imageBox {
		width: 300px;
		height: 150px;
	}	
	#wrapper {
		padding-bottom: 125px;
	}
	.name {
		font-size: 60px;
		margin: 15px auto -35px auto;
		width: 85vw;
	}
	.nameAbout {
		font-size: 20px;
		line-height: 22px;
		width: 85vw;
	}
	.certificatesWrapper {
		margin-bottom: 55px;
	}
	.certificatesTitle {
		font-size: 20px;
		width: 85vw;
		line-height: 22px;
	}
	.thanks {
		font-size: 24px;
	}
	.contact {
		width: 350px;
		margin: auto;
	}
	.fa {
		font-size: 75px;
	}
	.fa-contact:hover {
		color: rgb(45,45,45);
	}
	.fa-contact:focus {
		color: rgb(45,45,45);
		outline: none;
	}
	.fa-contact:active {
		color: rgb(45,45,45);
		outline: none;
	}
	.contact-tag:focus {
		outline: none;
	}
	.contact-tag:hover {
		outline: none;
	}
	.contact-tag:active {
		outline: none;
	}
}
@media screen and (max-width: 400px) {
	.imageBox {
		width: 300px;
		height: 150px;
	}	
	#wrapper {
		padding-bottom: 125px;
	}
	.name {
		font-size: 50px;
		margin-top: 15px;
		margin-bottom: -35px;
	}
	.nameAbout {
		font-size: 18px;
	}
	.certificatesTitle {
		font-size: 18px;
	}	
	.thanks {
		font-size: 22px;
	}
	.contact {
		width: 300px;
		margin: auto;
	}
	.fa {
		font-size: 55px;
	}
}

@media screen and (max-width: 350px) {
	body {
		padding-top: 25px;
	}
}
