@font-face{
	font-family:"Aniron";
	src:url("http://www.myfontfree.com/data/27/a/aniron/anirm___.ttf");
 }
html {
  min-height: 800px;
}
body {
  background-image: url('http://i1361.photobucket.com/albums/r662/bonham000/Codepen/Gandalf_zps1nv0zgbi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.container {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 550px;
  min-height: 500px;
  border: 1px solid rgb(100,100,100);
  border-radius: 25px;
  background: rgba(250,250,250,.5);
}
.quote_box {
  padding: 15px 30px 15px 30px;
}
#quote {
  font-family: Monotype Corsiva;
  text-align: center;
  color: black;
  font-size: 30px;
}
#author {
  font-family: Avenir;
  text-align: center;
  font-size: 22px;
}
.title {
  text-align: center;
  font-family: Aniron;
}
.button {
  text-align: center;
}
button {
  text-align: center;
  font-family: Aniron;
  font-size: 30px;
  padding: 15px;
  border-radius: 25px;
  border: 5px solid rgb(30,30,30);
  background: rgb(30,30,30);
  color: white;
  cursor: pointer;
}
button:hover {
  background: rgb(30,30,30);
  color: rgb(255, 188, 0);
  border: 5px solid rgb(255, 188, 0);
}
button:focus {
  outline: none;
}
.twitter {
  position: absolute;
  bottom: 5px;
  right: 25px;
}
.tweet {
  padding: 0px;
  background: none;
  color: #00ADEF;
  border: none;
}
.tweet:hover {
  background: none;
  color: #ffd13b;
  border: none;
}