* {
    border: 0px solid black;
}
.header {
  background: none;
  border: none;
}
.header:hover {
  background: rgb(240,240,240);
}
.links {
  margin-top: 7px;
}
ul li a:hover {
  color: red;
}
#grid {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
#grid:hover {
  background: rgb(78, 176, 121);
  border-radius: 5px;
  padding: 3px;
}
#bell {
  width: 30px;
  height: 30px;
  margin-top: 1px;
}
#bell:hover {
  border: 3px solid rgb(24, 88, 225);
  border-radius: 50%;
}
#lelouch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -5px;
}
#lelouch:hover {
  border: 3px solid rgb(255, 50, 200);
  border-radius: 50%;
}
.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
}
img#logo{
  margin: auto;
  height: 225px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
img#logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.container {
  position: relative;
  top: 40px;
}
form {
  position: relative;
  padding: 15px;
  left: 18.5px;
}
input {
  padding: 5px;
  height: 35px;
  width: 500px;
  border: 1px solid rgb(73,141,255);
}
input:focus {
  outline: none;
}
#voice {
  width: 30px;
  height: 30px;
  position: relative;
  left: -37px;
}
#voice:hover {
  background: rgb(50,50,50);
  border-radius: 50%;
  cursor: pointer;
}
button {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 10px;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #757575;
  background-color: #f2f2f2;
}
button:hover {
  background: rgb(50,50,50);
  color: white;
  border: 1px solid white;
}
#search {
  position: relative;
  right: 15px;
}
#lucky {
  position: relative;
  right: -15px;
}
#lucky:hover {
  color: rgb(21,200,70);
}
#spacer {
  position: relative;
  margin-bottom: 150px;
}
h3 {
  font-size: 15px;
}
h3 a {
  text-decoration: none;
  color: black;
}
h3 a:hover {
  color: rgb(235, 57, 146);
  text-decoration: none;
}
.footer:hover {
    background: rgb(230,230,230);
}