html {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}
body {
  background: rgba(0,0,0,.5);
  background-size: cover;
  padding: 0;
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  font-family: 'Forum', cursive;
  color: white;
  text-align: left;
}

.weather {
  position: fixed;
  top: 5%;
  left: 5%;
}
#disclaimer {
  margin-top: -17.5px;
}
.tempControl {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 14px;
  text-align: right;
  line-height: 18px;
}
#image {
  position: fixed;
  left: 12.5%;
  top: 20%;
}
.details {
  position: fixed;
  bottom: 5%;
  left: 5%;
}

h3 {
  font-size: 25px;
}

#reload {
  border-radius: 5px;
  border: 1px solid rgb(150,150,150);
  width: 200px;
  height: 25px;
  background: rgba(245, 245, 245, .85);
  font-size: 15px;
  margin-bottom: -20px;
  display: none;
}
#reload:hover {
  background: rgba(55, 155, 250, .75);
}

input {
  width: 400px;
  height: 30px;
  border: 1px solid rgb(150,150,150);
  border-radius: 15px;
  font-size: 15px;
  vertical-align: middle;
  padding-left: 15px;
  color: black;
  background: rgba(235, 235, 235, .95);
}

input:focus {
  outline: none;
}

button {
  border-radius: 15px;
  border: 1px solid rgb(150,150,150);
  width: 125px;
  height: 35px;
  vertical-align: middle;
  background: rgba(55, 155, 250, .75);
  font-size: 20px;
  margin-left: 15px;
}

button:hover {
  cursor: pointer;
  background: rgba(235, 235, 235, .95);
  border: 1px solid rgb(150,150,150);
}

button:active,
button:focus {
  outline: none;  
}

p {
  font-size: 17px;
  margin-top: 10px;
}
a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: rgb(150,150,150);
}

.world {
  position: fixed;
  padding-top: 0;
  margin-top: -10px;
  right: 1%;
  bottom: 2%;
  line-height: 18px;
  text-align: right;
}









