body {
  	font-family: 'Raleway', sans-serif;
  	background: linear-gradient(rgba(50,150,225,1),rgba(10,225,135,1));
  	background-attachment: fixed;
	padding: 40px;
}
div {
	text-align: center;
  	color: rgb(20,20,20);
}
h1 {
  color: rgb(20,20,20);
  font-family: 'Molengo', sans-serif;
  font-weight: bold;

}
p {
	margin-top: 15px;
	font-size: 22px;
	line-height: 50px;
}
div.divider {
	width: 350px;
	border: 2px solid rgb(255,75,75);
	border-radius: 5px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: rgb(20,20,20);
}
a:hover {
	color: white;
	text-decoration: underline;
}
button {
	position: relative;
	margin: 5px auto;
	background: rgb(20,20,20);
	color: rgb(255,75,75);
	font-size: 22px;
	font-weight: bold;
	border: none;
	padding: 15px;
	border-radius: 15px;
	cursor: pointer;
}
button a {
	color: rgb(255,75,75);
}
button:hover {
	background: rgb(60,60,60);
	text-decoration: underline;
}
#home:hover {
	color: rgb(255,75,75);	
}
button:focus {
	outline: none;
}
a:focus {
	outline: none;
}