$dark: #353535;
$light: #FCECC9;

body {
  background: $dark;
  padding-top: 50px;
  height: 700px;
  min-width: 1250px;
}
svg {
  background-color: #2D4654;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.barRect:hover {
  fill: $light !important;
}
.AxisStyle {
  font-family: Avenir;
  font-size: 16px;
  fill: $light;
}
.toolTip {
  font-family: Avenir;
  position: absolute;
  background: rgb(30,30,30);
  padding: 7px;
  color: $light;
  width: 165px;
  border-radius: 10px;
  opacity: 0;
  border: .8px solid $light;
}
.title {
  font-family: Avenir;
  fill: #F2626F !important;
  font-size: 35px;
  right: 50px;
}