body {
  background: #141e37;
  padding-bottom: 25px;
}

.titleBox .title {
  text-align: center;
  font-family: "Lora", serif;
  color: #c8c8c8;
  font-size: 50px;
  margin: 20px 0 0 0;
}

#chart {
  width: 960px;
  margin: 30px auto;
}
#chart svg {
  background: transparent;
  border: 1px solid rgba(150, 150, 150, 0.25);
}

.tooltip {
  font-family: "Lora", serif;
  color: #c8c8c8;
  font-size: 22px;
  margin-top: -10px;
}

.dataPoint:hover {
  cursor: pointer;
}
