html { 
  background: url(http://i1361.photobucket.com/albums/r662/bonham000/Wikipedia%20Viewer/rect21_zpsqrfwvchd.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  text-align: center;
  padding: 25px;
  padding-top: 25px;
  padding-bottom: 5px;
  font-family: Avenir;
}
#limit {
  width: 100%;
  padding: 0;
  text-align: center;
  color: black;
  padding-bottom: 10px;
  font-size: 18px;
}
#radio_title {
  font-weight: bold;
}
.search {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
#input {
  font-size: 18px;
  border-radius: 4px;
  border: none;
  height: 38px;
  width: 35%;
  vertical-align: middle;
  padding-left: 10px;
}

#submit {
  font-size: 18px;
  border-radius: 4px;
  background: white;
  border: none;
  height: 40px;
  width: 25%;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
#random {
  font-size: 18px;
  border-radius: 4px;
  background: white;
  border: none;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 30%;
  cursor: pointer;
  font-style: italic;
}
#submit:hover, #random:hover {
  background: rgba(26, 26, 29, .95);
  color: rgb(22, 194, 151);
}
input, button {
  outline: none;
}

#wikipedia {
  margin-top: 75px;
  width: 275px;
}

.content {
  position: relative;
  text-align: left;
  width: 80%;
  margin: 25px auto;
  background: rgba(26, 26, 29, .95);
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
}

.title {
  font-style: italic;
  font-size: 40px;
  margin-top: 15px;
  color: rgb(22, 194, 151);

}
.snippet {
  font-size: 18px;
  margin-top: -25px;
}

.content:hover {
  background: rgb(255, 110, 64);
  color: black;
  cursor: pointer;
  transition: .25s ease-in-out;
}
.content:hover .title {
  color: black;
  transition: .25s ease-in-out;
}

#author {
  color: black;
  font-size: 18px;
  margin-top: 25px;
}


.scroll {
  text-align: center; 
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  padding: 0;
  bottom: 0px;
  margin-bottom: -10px;
  right: 35px;
  font-size: 55px;
  display: none;

}
.scroll:hover{
  text-decoration:none;
  color: rgb(255, 110, 64);
}

#author a {
  text-decoration: underline;
  color: black;
}

#author a:hover {
  cursor: pointer;
  color: white;
}


@media screen and (max-width: 1000px) {
  #input, #submit, #random {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  #submit, #random {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  #submit, #random {
    font-size: 10px;
  }
}
